<h1>Login Here</h1>

<%= form_for @user, url: login_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

   <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Login" %>  
<% end %>
<br>
<div>
  <%= button_to "Login with Google", '/auth/google_oauth2' %>
</div>

