<div>
    <h3><%= @route.title %></h3>
    <p><%= @route.type %></p>
    <p><%= @route.rating %></p>
    <p><%= @route.stars %></p>
    <p><%= @route.pitches %></p>
    <p><%= @route.location %></p>
    <p><%= @route.url %></p>
  </div>